---
---

@import "{{ site.theme }}";
.post {
  margin: auto;
  width: 60%;
}
@media only screen and (max-device-width: 480px) {
	div#wrapper {
		width: 90%;
	}
  .post {
    margin: auto;
    width: 90%;
  }
}
